/* # Font-face */

@font-face {
		font-family: "suisse_intlbook";
    src: url('../fonts/suisseintl-book-webfont.woff2') format('woff2'),
         url('../fonts/suisseintl-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
