////////
////
//// wrapper-intro
////
///////

.wrapper-header{
  position: relative;
  background-color: $red;
  height: 70vh;
  margin-bottom: 100px;
}

.wrapper-intro {
  position : absolute;
  width: 100vw;
  height: 60vh;
  background-color: $red;
  top: 50%;
  transform: translateY(-50%);

  .box{
    position: absolute;
    color: white;
    opacity : 1;

  .is-active{
    opacity: 1;
  }
  }
}
